body{color:#FA6766;font-family:Trebuchet MS,arial,verdana;margin:20px;padding:0pt;}
h3{margin:0pt:padding:0pt;}
div{float:left;}
#table{ width:100%; }
.row {width:100%;}
.col {width:75px;float:left;height:75px;cursor:pointer;}
.hr{ border-right:2px solid #FA6766;}
.vr{ border-bottom:2px solid #FA6766;}
.cross{background-image:url(cross.png);}
.round{background-image:url(round.png);}
#log{clear:both;margin:0pt;padding:0pt;}
.reset{cursor:pointer;display:none;text-decoration:underline;}