body
{
	font-family:"Trebuchet MS",verdana;
}
ul
{
	list-style:none;
	margin:0;
	padding:0;
}
li.menuHeader
{
	border:1px solid #fff;
	float:left;
	padding:5px 10px;
	text-align:center;
	width:120px;	
}
ul.menuItem
{
	margin-top:5px;
}
.menuItem > li
{
	padding:5px 10px;
}
a
{
	color:#fff;
}
.about{ background-color:#6D9931;}
.products{ background-color:#D63333;}
.tech{ background-color:#D49248;}
